@font-face {
    font-family: "figtree-blk";
    src: url('/fonts/Figtree-Black.ttf') format('truetype');
}
@font-face {
    font-family: "figtree-ital";
    src: url('/fonts/Figtree-Italic.ttf') format('truetype');
}
@font-face {
    font-family: "figtree-reg";
    src: url('/fonts/Figtree-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "rena-reg";
    src: url('/fonts/Rena-Regular.ttf') format('truetype');
}
body {
    font-family: 'figtree-reg', sans-serif;
}