/* Activation of fonts.
    Standard font is figtree-reg.
    Rena-reg unused currently. */
@font-face {
    font-family: "figtree-blk";
    src: url('/fonts/Figtree-Black.ttf') format('truetype');
}
@font-face {
    font-family: "figtree-ital";
    src: url('/fonts/Figtree-Italic.ttf') format('truetype');
}
@font-face {
    font-family: "figtree-reg";
    src: url('/fonts/Figtree-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "rena-reg";
    src: url('/fonts/Rena-Regular.ttf') format('truetype');
}
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}  
body {
    /* Basic formatting */
    font-family: 'figtree-reg';
    background-color: #e7e7e7;
}
.greyspace {
    height: 193px;
    background-image: url(/images/backgrounds/grad_noise2.png);
    background-size: 100vw;
    /*background-color: #c0c0c0;*/
}
.main {
    padding-left: 20px;
    padding-right: 20px;
}
.logos {
    margin-left: 20px;
    margin-top: 43px;
}
.header {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    /*background-color: #c0c0c0;*/
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.linksIcons {
    padding-top: 30px;
    padding-right: 30px;
}
/*Hamburger Menu*/
.burger {
    display: none;
}
#check {
    display: none;
}
.checkbtn {
    display: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.burgerlinks {
    display: none;
}
#check:checked ~ .burgerlinks{
    display: block;
}
.barshadow {
    padding-bottom: 10px;
    border-bottom: black;
    border-width: 0 0 2px 0;
    border-style: solid;
}
.banner {
    background-color: #f7a001; 
    padding-top: 10px;
    padding-bottom: 10px; 
    font-family: figtree-ital; 
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 2px 0;
}
button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-color: #f7a001;
    border-style: solid;
    background: none;
}
.head-foot {
    /* Header/footer box */
    height: 99vh;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* Text formatting */
h3 {
    font-family: "figtree-blk";
    font-size: 20px;
    margin-bottom: 0;
}
h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: figtree-blk;
    font-weight: normal;
    font-size: large;
}
h6 {
    font-family: "figtree-ital";
    font-weight: normal;
    margin-top: 0;
}
.ql {
    padding-top: 20px; 
    padding-bottom: 20px;
}
.centertext {
    text-align: center;
    margin-top: 0;
}
.index-title {
    text-align: center;
    font-family: "figtree-blk";
    text-transform:uppercase;
    margin-bottom: 0;
}
.indexdates {
    font-family: "figtree-blk"; 
    margin-bottom: 0; 
    font-style:italic;
}
.index-sub {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color:black;
   }
   a:hover {
        color:#129376;
   }
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-family: "figtree-blk";
    text-transform:uppercase;
}
.footer {
    text-align: center;
    margin: 0;
}
/* hyperlinks */
.links {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color:#129376;
    }
}
.yellowLinks {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color:#f7a001;
    }
}
.whiteLinks {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color:#e7e7e7;
    }
}
.greenLinks {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: #129376;
    }
    a:hover {
        text-decoration: none;
        color: #61c682;
    }
}
.linksIcons {
    text-align: right; 
    margin-top: 15px;
    line-height: 30px;
}
.currentSiteMap {
    color: #f7a001;
}
/* Sponsor logos hide on mobile/narrow screens */
@media (max-aspect-ratio: 1.3/1){
    .sponsor-flex {
        content-visibility: hidden;
    }
}
/* Sponsor Logos only visible on desktop*/
@media (min-device-width: 650px) 
        and (device-aspect-ratio > 1/1){
    .sponsor-flex {
        width: 50%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        gap: 15px;
    }
    .sponsor-space {
        justify-content: space-evenly;
    }
    .sponsor-nav {
        text-align: center;
        line-height: 1em;
        object-fit: contain;
        text-decoration: none;
        
        filter: brightness(0);
    }
}
/*test to see if landscape/mobile works properly*/
@media (max-device-width: 640px) 
        and (orientation: landscape){
    .sponsor-flex {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        gap: 15px;
    }
    .sponsor-space {
        justify-content: space-evenly;
    }
    .sponsor-nav {
        text-align: center;
        line-height: 1em;
        object-fit: contain;
        text-decoration: none;
        filter: brightness(0);
    }
}
.sponsor-nav:hover {
    filter: brightness(100%);
}
.img-centering {
    display: none;
}
/*  Centers header logo/removes index-title when screen has 5/6 aspect ratio or smaller */
@media (max-aspect-ratio: 5/6) {
    .header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }
    .index-title {
        display: none;
    }
    .img-centering {
        display: block;
        margin: auto; 
    } 
    .img-center {
        margin: auto; 
        display: block;
    } 
    .img-23 {
        display: none;;
    }
    .linksIcons {
        text-align: center;
        padding-top: 0;
        padding-right: 0;
    }
    .fullwidthbg #flexnav {
        display: none;
    }
    .checkbtn {
        display: block;
        margin-top: 0px;
    }
    .checkbtn #page-index {
        margin-top: 10px;
    }
    .greyspace {
        background-image: none;
    }
    .logos {
        margin-left: 0;
    }
    .ql {
        padding-top: 5px;
    }
    .whiteLinks {
        a:hover {
            color: #129376;
        }
    }
}
.nav {
    text-align: center;
}
/* Centered/distributed sitemap links for >2:3 aspect ratios */
@media (min-aspect-ratio: 5/6){
    .navigation-container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        margin-left: 0;
        margin-right: auto;
        text-align: right;
    }
    .space-evenly {
        justify-content: space-evenly;
    }
    .nav {
        text-align: center;
        line-height: 1em;
        object-fit: contain;
        text-decoration: none;
    }
    .fullwidthbg #flexnav {
        content-visibility: visible;
        background-color: #129376;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;        
    }
    .index2col {
        box-sizing: border-box;
        margin: 0;
        display: grid;
        grid-template-columns: 45vw 8vw 45vw;
    }
}