/* Activation of fonts.
    Standard font is figtree-reg.
    Rena-reg unused currently. */
@font-face {
    font-family: "figtree-blk";
    src: url('/fonts/Figtree-Black.ttf') format('truetype');
}
@font-face {
    font-family: "figtree-ital";
    src: url('/fonts/Figtree-Italic.ttf') format('truetype');
}
@font-face {
    font-family: "figtree-reg";
    src: url('/fonts/Figtree-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "rena-reg";
    src: url('/fonts/Rena-Regular.ttf') format('truetype');
}
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
/*.wrapper {
    display: grid;
}*/
    
body {
    /* Basic formatting */
    font-family: 'figtree-reg';
    background-color: #e7e7e7;
}/*
#page-index {
    background-image: url(/images/backgrounds/dave-hoefler-Iyp4dqJt6k8-unsplash.png);
}*/
.header {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 20px;
    padding-right: 20px;
}
.head-foot {
    /* Header/footer box */
    height: 99vh;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
/* Text formatting */
h3 {
    font-family: "figtree-blk";
    font-size: 20px;
    margin-bottom: 0;
}
.centertext {
    text-align: center;
}
h6 {
    font-family: "figtree-ital";
    font-weight: normal;
    margin-top: 0;
}
.index-title {
    text-align: center;
    font-family: "figtree-blk";
    text-transform:uppercase;
    margin-bottom: 0;
}
.index-sub {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color:black;
   }
   a:hover {
        color:#129376;
   }
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-family: "figtree-blk";
    text-transform:uppercase;
}
.footer {
    text-align: center;
    margin: 0;
}
/* hyperlinks */
.links {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color:#129376;
    }
}
.greenLinks {
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: #129376;
    }
    a:hover {
        text-decoration: none;
        color: #61c682;
    }
}
.linksIcons {
    text-align: right; 
    margin-top: 15px;
    line-height: 30px;
}
.currentSiteMap {
    color: #129376;
}
/* Sponsor logos hide on mobile/narrow screens */
@media (max-aspect-ratio: 1.3/1){
    .sponsor-flex {
        content-visibility: hidden;
    }
}
/* Sponsor Logos only visible on desktop*/
@media (min-device-width: 650px) 
        and (device-aspect-ratio > 1/1){
    .sponsor-flex {
        width: 50%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        gap: 15px;
    }
    .sponsor-space {
        justify-content: space-evenly;
    }
    .sponsor-nav {
        text-align: center;
        line-height: 1em;
        object-fit: contain;
        text-decoration: none;
        
        filter: brightness(0);
    }
}
/*test to see if landscape/mobile works properly*/
@media (max-device-width: 640px) 
        and (orientation: landscape){
    .sponsor-flex {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        gap: 15px;
    }
    .sponsor-space {
        justify-content: space-evenly;
    }
    .sponsor-nav {
        text-align: center;
        line-height: 1em;
        object-fit: contain;
        text-decoration: none;
        filter: brightness(0);
    }
}
.sponsor-nav:hover {
    filter: brightness(100%);
}
.img-centering {
    content-visibility: hidden;
}
/*  Centers header logo/removes index-title when screen has 2:3 aspect ratio or smaller */
@media (max-aspect-ratio: 2/3) {
    .header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .index-title {
        content-visibility: hidden;
    }
    .img-centering {
        content-visibility: visible;
        margin: auto; 
        display: block;
    } 
    .img-center {
        content-visibility: visible;
        margin: auto; 
        display: block;
    } 
    .img-23 {
        content-visibility: hidden;
    }
    .linksIcons {
        text-align: center;
    }
}
/* Centered/distributed sitemap links for >2:3 aspect ratios */
@media (min-aspect-ratio: 2.00001/3){
    .navigation-container {
        width: 40%;
        display: flex;
        flex-flow: row nowrap;
        margin:auto;
        margin-left: auto;
        margin-right: auto;
        
        text-align: center;
    }
    .space-evenly {
        justify-content: space-evenly;
    }
    .nav {
        text-align: center;
        line-height: 1em;
        object-fit: contain;
        text-decoration: none;
    }
}
/* posters.html-specific UNUSED
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-image: url("/images/backgrounds/gcwa_banner.png");
}
.thumb {
    width: 80px;
    height: auto;
    border: 1px solid #000;
}
.caption {
    font-size: small;
    text-justify:auto;
}
*/
