.currentSiteMap {
    color: #129376;
}
/* Need to figure out how to make this sit to the right of the images in the poster htmls

.imagedesc {
    display: grid;
    grid-template-columns:auto;
} 


*/