.currentSiteMap {
    color: #129376;
}
.links-docs {
    text-indent: 50px;
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color:#129376;
    }
    a:hover {
        text-decoration: none;
        color: #f7a001;
    }
}
.links-coa{
    text-indent: 50px;
    a:visited, a:link, a:active
    {
        text-decoration: none;
        color: #c6341a;
    }
    a:hover {
        text-decoration: none;
        color: #f7a001;
    }
}
@media (max-aspect-ratio: 1/1){
    .links-docs {
        text-indent: 0px;
        text-align: center;
    }
    .links-coa {
        text-indent: 0px;
        text-align: center;
    }
}
h4 {
    margin-bottom: 0;
}
/* Need to figure out how to make this sit to the right of the images in the poster htmls

.imagedesc {
    display: grid;
    grid-template-columns:auto;
} 


*/